= form_with(model: @category, class: "form-horizontal") do |f|
  #errors
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-controll"
    .action.mt-3
      = f.submit 'Save'
