%body
  .container.w-75
    %h2.text-center.my-4
      カテゴリー管理
    .row
      - @categories.each do |category|
        .card.bg-light.my-4
          .card-body.p-4.d-flex.justify-content-between
            = link_to "#{category.name}", category, class: "fs-3 font-monoscpace text-decoration-none"
            .d-flex.justify-content-end
              = button_to "編集", edit_category_path(category), :method => :get, class: "btn btn-success mx-3"
              = button_to "削除", category, :method => :delete, :data => { :confirm => '本当に削除しますか?' }, class: "btn btn-danger mx-3"
