%body
  .container.w-75
    %h1.text-center.my-4
      カテゴリー管理
    - @categories.each do |category|
      .container.d-flex.justify-content-between
        .w-75
          %h3
            = category.name
        .d-flex.justify-content-around
          = button_to "編集", edit_category_path(category), :method => :get, class: "btn btn-success mx-3"
          = button_to "削除", category, :method => :delete, :data => { :confirm => '本当に削除しますか?' }, class: "btn btn-danger mx-3"
